In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [43]:
books_data_clean = pd.read_csv('Books_Data_Clean.csv')
books_data_clean.tail(5)

,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
1065,1065,2014.0,Gray Mountain,John Grisham,eng,Intermediate,3.52,37379,nonfiction,104.94,62.964,0.99,1268,"Amazon Digital Services, Inc.",106
1066,1066,1989.0,The Power of One,Bryce Courtenay,eng,Excellent,4.34,57312,genre fiction,846.94,508.164,7.99,1270,Random House LLC,106
1067,1067,1930.0,The Maltese Falcon,Dashiell Hammett,eng,Intermediate,3.92,58742,genre fiction,846.94,508.164,7.99,1271,Hachette Book Group,106
1068,1068,2011.0,Night Road,Kristin Hannah,en-US,Excellent,4.17,58028,genre fiction,104.94,62.964,0.99,1272,"Amazon Digital Services, Inc.",106
1069,1069,1999.0,Tripwire,Lee Child,eng,Excellent,4.07,55251,genre fiction,316.94,0.000,2.99,1273,"Amazon Digital Services, Inc.",106

In [8]:
kindle = pd.read_csv('kindle_data-v2.csv')
kindle.sample(5)

,asin,title,author,soldBy,imgUrl,productURL,stars,reviews,price,isKindleUnlimited,category_id,isBestSeller,isEditorsPick,isGoodReadsChoice,publishedDate,category_name
28548,B0BRJKYQHG,The Coin Collecting Bible 2023: [6 in 1] The U...,John Adams,Amazon.com Services LLC,https://m.media-amazon.com/images/I/91xtBTQg2q...,https://www.amazon.com/dp/B0BRJKYQHG,4.0,0,9.99,True,26,False,False,False,2023-01-01,"Crafts, Hobbies & Home"
124311,B01M003A3P,Virtual Competition: The Promise and Perils of...,Ariel Ezrachi,Amazon.com Services LLC,https://m.media-amazon.com/images/I/81xk71R9Tq...,https://www.amazon.com/dp/B01M003A3P,4.2,0,13.20,False,20,False,False,False,2016-11-14,Law
28995,B0BDW9C3JY,A Long Time Coming,Meghan Quinn,Amazon.com Services LLC,https://m.media-amazon.com/images/I/81Dh1dKE-5...,https://www.amazon.com/dp/B0BDW9C3JY,4.5,23081,4.99,True,5,False,False,False,2023-01-10,Literature & Fiction
2810,B08QG3C9F3,Untigering: Peaceful Parenting for the Deconst...,Iris Chen,Amazon.com Services LLC,https://m.media-amazon.com/images/I/811WKbv-0X...,https://www.amazon.com/dp/B08QG3C9F3,4.8,0,6.99,True,6,False,False,False,2020-12-12,Parenting & Relationships
96463,B07PSDXQKJ,All Along You Were Blooming: Thoughts for Boun...,Morgan Harper Nichols,HarperCollins Publishing,https://m.media-amazon.com/images/I/81Hn2ZZf3y...,https://www.amazon.com/dp/B07PSDXQKJ,4.8,4121,11.99,True,31,False,False,True,2020-01-21,Self-Help

In [9]:
books_data_clean.shape

(1070, 15)

In [10]:
kindle.shape

(133102, 16)

In [12]:
books_data_clean.duplicated().sum()

0

AÃ±o a object, quitar palabra genre de columna genre

In [37]:
books_data_clean.dtypes

Publishing Year         object
Book Name               object
Author                  object
language_code           object
Author_Rating           object
Book_average_rating    float64
Book_ratings_count       int64
genre                   object
gross sales            float64
publisher revenue      float64
sale price             float64
sales rank               int64
Publisher               object
units sold               int64
dtype: object

In [38]:
books_data_clean.isnull().sum()

Publishing Year         1
Book Name              23
Author                  0
language_code          53
Author_Rating           0
Book_average_rating     0
Book_ratings_count      0
genre                   0
gross sales             0
publisher revenue       0
sale price              0
sales rank              0
Publisher               0
units sold              0
dtype: int64

In [44]:
books_data_clean['Publishing Year'] = books_data_clean['Publishing Year'].fillna(0)

In [45]:
books_data_clean.isnull().sum()

index                   0
Publishing Year         0
Book Name              23
Author                  0
language_code          53
Author_Rating           0
Book_average_rating     0
Book_ratings_count      0
genre                   0
gross sales             0
publisher revenue       0
sale price              0
sales rank              0
Publisher               0
units sold              0
dtype: int64

In [46]:
books_data_clean.dtypes

index                    int64
Publishing Year        float64
Book Name               object
Author                  object
language_code           object
Author_Rating           object
Book_average_rating    float64
Book_ratings_count       int64
genre                   object
gross sales            float64
publisher revenue      float64
sale price             float64
sales rank               int64
Publisher               object
units sold               int64
dtype: object

In [47]:
books_data_clean['Publishing Year'] = books_data_clean['Publishing Year'].astype(int)

In [48]:
books_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                1070 non-null   int64
 1   Publishing Year      1070 non-null   int64
 2   Book Name            1047 non-null   object
 3   Author               1070 non-null   object
 4   language_code        1017 non-null   object
 5   Author_Rating        1070 non-null   object
 6   Book_average_rating  1070 non-null   float64
 7   Book_ratings_count   1070 non-null   int64
 8   genre                1070 non-null   object
 9   gross sales          1070 non-null   float64
 10  publisher revenue    1070 non-null   float64
 11  sale price           1070 non-null   float64
 12  sales rank           1070 non-null   int64
 13  Publisher            1070 non-null   object
 14  units sold           1070 non-null   int64
dtypes: float64(4), int64(5), object(6)
memory usage: 125.5+ KB

In [50]:
books_data_clean['Publishing Year'] = books_data_clean['Publishing Year'].astype(object)

In [51]:
books_data_clean.dtypes

index                    int64
Publishing Year         object
Book Name               object
Author                  object
language_code           object
Author_Rating           object
Book_average_rating    float64
Book_ratings_count       int64
genre                   object
gross sales            float64
publisher revenue      float64
sale price             float64
sales rank               int64
Publisher               object
units sold               int64
dtype: object

In [52]:
books_data_clean['genre'].value_counts()

genre
genre fiction    822
nonfiction       171
fiction           62
children          15
Name: count, dtype: int64

In [53]:
# Unificar los valores 'fiction' y 'genrefiction' en 'fiction'
books_data_clean['genre'] = books_data_clean['genre'].replace({'genre fiction': 'fiction'})

In [54]:
books_data_clean['genre'] = books_data_clean['genre'].replace({'nonfiction': 'non fiction'})

In [55]:
books_data_clean['genre'].value_counts()

genre
fiction        884
non fiction    171
children        15
Name: count, dtype: int64

In [58]:
books_data_clean = books_data_clean.drop(columns=['index'])

In [59]:
books_data_clean.head()

,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,1975,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000
1,1987,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250
2,2015,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500
3,2008,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500
4,2011,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750

In [60]:
books_data_clean.to_csv('books_data_clean')