In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [7]:
books_data_clean = pd.read_csv('Books_Data_Clean.csv')
books_data_clean.sample(5)

,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
342,342,1999.0,The Reptile Room,"Lemony Snicket, Brett Helquist",eng,Intermediate,3.95,130213,genre fiction,1202.59,721.554,4.99,367,Simon and Schuster Digital Sales Inc,241
1056,1056,2010.0,Saving CeeCee Honeycutt,"Beth Hoffman, Jenna Lamia",eng,Intermediate,3.92,54341,genre fiction,316.94,0.000,2.99,1253,"Amazon Digital Services, Inc.",106
757,757,1979.0,The Long Walk,"Richard Bachman, Stephen King",eng,Excellent,4.11,71775,nonfiction,462.84,277.704,3.99,871,Hachette Book Group,31320
166,166,2011.0,State of Wonder,Ann Patchett,eng,Intermediate,3.85,124837,genre fiction,1210.00,0.000,2.00,179,"Amazon Digital Services, Inc.",605
683,683,1922.0,Ulysses,James Joyce,eng,Intermediate,3.74,76791,genre fiction,117.81,0.000,0.99,786,"Amazon Digital Services, Inc.",36936

In [8]:
kindle = pd.read_csv('kindle_data-v2.csv')
kindle.sample(5)

,asin,title,author,soldBy,imgUrl,productURL,stars,reviews,price,isKindleUnlimited,category_id,isBestSeller,isEditorsPick,isGoodReadsChoice,publishedDate,category_name
28548,B0BRJKYQHG,The Coin Collecting Bible 2023: [6 in 1] The U...,John Adams,Amazon.com Services LLC,https://m.media-amazon.com/images/I/91xtBTQg2q...,https://www.amazon.com/dp/B0BRJKYQHG,4.0,0,9.99,True,26,False,False,False,2023-01-01,"Crafts, Hobbies & Home"
124311,B01M003A3P,Virtual Competition: The Promise and Perils of...,Ariel Ezrachi,Amazon.com Services LLC,https://m.media-amazon.com/images/I/81xk71R9Tq...,https://www.amazon.com/dp/B01M003A3P,4.2,0,13.20,False,20,False,False,False,2016-11-14,Law
28995,B0BDW9C3JY,A Long Time Coming,Meghan Quinn,Amazon.com Services LLC,https://m.media-amazon.com/images/I/81Dh1dKE-5...,https://www.amazon.com/dp/B0BDW9C3JY,4.5,23081,4.99,True,5,False,False,False,2023-01-10,Literature & Fiction
2810,B08QG3C9F3,Untigering: Peaceful Parenting for the Deconst...,Iris Chen,Amazon.com Services LLC,https://m.media-amazon.com/images/I/811WKbv-0X...,https://www.amazon.com/dp/B08QG3C9F3,4.8,0,6.99,True,6,False,False,False,2020-12-12,Parenting & Relationships
96463,B07PSDXQKJ,All Along You Were Blooming: Thoughts for Boun...,Morgan Harper Nichols,HarperCollins Publishing,https://m.media-amazon.com/images/I/81Hn2ZZf3y...,https://www.amazon.com/dp/B07PSDXQKJ,4.8,4121,11.99,True,31,False,False,True,2020-01-21,Self-Help

In [9]:
books_data_clean.shape

(1070, 15)

In [10]:
kindle.shape

(133102, 16)

In [12]:
books_data_clean.duplicated().sum()

0

AÃ±o a object, quitar palabra genre de columna genre

In [13]:
books_data_clean['Publishing Year'] = books_data_clean['Publishing Year'].astype(object)

In [17]:
books_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                1070 non-null   int64
 1   Publishing Year      1069 non-null   object
 2   Book Name            1047 non-null   object
 3   Author               1070 non-null   object
 4   language_code        1017 non-null   object
 5   Author_Rating        1070 non-null   object
 6   Book_average_rating  1070 non-null   float64
 7   Book_ratings_count   1070 non-null   int64
 8   genre                1070 non-null   object
 9   gross sales          1070 non-null   float64
 10  publisher revenue    1070 non-null   float64
 11  sale price           1070 non-null   float64
 12  sales rank           1070 non-null   int64
 13  Publisher            1070 non-null   object
 14  units sold           1070 non-null   int64
dtypes: float64(4), int64(4), object(7)
memory usage: 125.5+ KB

In [19]:
books_data_clean['genre'].value_counts()

genre
genre fiction    822
nonfiction       171
fiction           62
children          15
Name: count, dtype: int64

In [23]:
# Unificar los valores 'fiction' y 'genrefiction' en 'fiction'
books_data_clean['genre'] = books_data_clean['genre'].replace({'genre fiction': 'fiction'})

In [25]:
books_data_clean['genre'] = books_data_clean['genre'].replace({'nonfiction': 'non fiction'})

In [26]:
books_data_clean['genre'].value_counts()

genre
fiction        884
non fiction    171
children        15
Name: count, dtype: int64

In [34]:
books_data_clean.drop(columns=['level_0', 'index'], inplace= True)

In [35]:
books_data_clean.head()

,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,1975.0,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000
1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250
2,2015.0,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500
3,2008.0,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500
4,2011.0,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750