In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [65]:
books_data_clean = pd.read_csv('Books_Data_Clean.csv')
books_data_clean.tail(5)

,Unnamed: 0,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
1065,1065,2014,Gray Mountain,John Grisham,eng,Intermediate,3.52,37379,non fiction,104.94,62.964,0.99,1268,"Amazon Digital Services, Inc.",106
1066,1066,1989,The Power of One,Bryce Courtenay,eng,Excellent,4.34,57312,fiction,846.94,508.164,7.99,1270,Random House LLC,106
1067,1067,1930,The Maltese Falcon,Dashiell Hammett,eng,Intermediate,3.92,58742,fiction,846.94,508.164,7.99,1271,Hachette Book Group,106
1068,1068,2011,Night Road,Kristin Hannah,en-US,Excellent,4.17,58028,fiction,104.94,62.964,0.99,1272,"Amazon Digital Services, Inc.",106
1069,1069,1999,Tripwire,Lee Child,eng,Excellent,4.07,55251,fiction,316.94,0.000,2.99,1273,"Amazon Digital Services, Inc.",106

In [66]:
kindle = pd.read_csv('kindle_data-v2.csv')
kindle.sample(5)

,asin,title,author,soldBy,imgUrl,productURL,stars,reviews,price,isKindleUnlimited,category_id,isBestSeller,isEditorsPick,isGoodReadsChoice,publishedDate,category_name
40403,B08DRQT2ZM,DAX Patterns: Second Edition,Marco Russo,Amazon.com Services LLC,https://m.media-amazon.com/images/I/71M3puvnjo...,https://www.amazon.com/dp/B08DRQT2ZM,4.7,302,29.99,False,10,False,False,False,2020-08-10,Computers & Technology
74495,B0C5NC6698,Through Every Danger: Four Christian Romantic ...,Lisa Phillips,Amazon.com Services LLC,https://m.media-amazon.com/images/I/81nMnsm-WK...,https://www.amazon.com/dp/B0C5NC6698,4.5,407,4.99,True,30,False,False,False,NaN,Religion & Spirituality
47636,B00NLR6GV6,Find the Good: Unexpected Life Lessons from a ...,Heather Lende,Hachette Book Group,https://m.media-amazon.com/images/I/81gfNnF9Xx...,https://www.amazon.com/dp/B00NLR6GV6,4.3,1096,2.99,False,14,False,False,False,2015-04-28,Politics & Social Sciences
123112,B0BFB3S85F,"Arbitration: Practice, Policy, and Law (Aspen ...",Thomas J. Stipanowich,Amazon.com Services LLC,https://m.media-amazon.com/images/I/61M130zTgA...,https://www.amazon.com/dp/B0BFB3S85F,5.0,0,187.15,False,20,False,False,False,2022-09-14,Law
117647,B08B2N4WBH,"The Art of Aesthetic Surgery, Three Volume Set...",Foad Nahai,Amazon.com Services LLC,https://m.media-amazon.com/images/I/41Axmq-ePd...,https://www.amazon.com/dp/B08B2N4WBH,4.0,0,543.99,False,13,False,False,False,2020-05-09,Medical

In [67]:
books_data_clean.shape

(1070, 15)

In [68]:
kindle.shape

(133102, 16)

In [69]:
books_data_clean.duplicated().sum()

0

AÃ±o a object, quitar palabra genre de columna genre

In [70]:
books_data_clean.dtypes

Unnamed: 0               int64
Publishing Year          int64
Book Name               object
Author                  object
language_code           object
Author_Rating           object
Book_average_rating    float64
Book_ratings_count       int64
genre                   object
gross sales            float64
publisher revenue      float64
sale price             float64
sales rank               int64
Publisher               object
units sold               int64
dtype: object

In [71]:
books_data_clean.isnull().sum()

Unnamed: 0              0
Publishing Year         0
Book Name              23
Author                  0
language_code          53
Author_Rating           0
Book_average_rating     0
Book_ratings_count      0
genre                   0
gross sales             0
publisher revenue       0
sale price              0
sales rank              0
Publisher               0
units sold              0
dtype: int64

In [72]:
books_data_clean['Publishing Year'] = books_data_clean['Publishing Year'].fillna(0)

In [73]:
books_data_clean.isnull().sum()

Unnamed: 0              0
Publishing Year         0
Book Name              23
Author                  0
language_code          53
Author_Rating           0
Book_average_rating     0
Book_ratings_count      0
genre                   0
gross sales             0
publisher revenue       0
sale price              0
sales rank              0
Publisher               0
units sold              0
dtype: int64

In [74]:
books_data_clean.dtypes

Unnamed: 0               int64
Publishing Year          int64
Book Name               object
Author                  object
language_code           object
Author_Rating           object
Book_average_rating    float64
Book_ratings_count       int64
genre                   object
gross sales            float64
publisher revenue      float64
sale price             float64
sales rank               int64
Publisher               object
units sold               int64
dtype: object

In [75]:
books_data_clean['Publishing Year'] = books_data_clean['Publishing Year'].astype(int)

In [76]:
books_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1070 non-null   int64
 1   Publishing Year      1070 non-null   int64
 2   Book Name            1047 non-null   object
 3   Author               1070 non-null   object
 4   language_code        1017 non-null   object
 5   Author_Rating        1070 non-null   object
 6   Book_average_rating  1070 non-null   float64
 7   Book_ratings_count   1070 non-null   int64
 8   genre                1070 non-null   object
 9   gross sales          1070 non-null   float64
 10  publisher revenue    1070 non-null   float64
 11  sale price           1070 non-null   float64
 12  sales rank           1070 non-null   int64
 13  Publisher            1070 non-null   object
 14  units sold           1070 non-null   int64
dtypes: float64(4), int64(5), object(6)
memory usage: 125.5+ KB

In [77]:
books_data_clean['Publishing Year'] = books_data_clean['Publishing Year'].astype(object)

In [78]:
books_data_clean.dtypes

Unnamed: 0               int64
Publishing Year         object
Book Name               object
Author                  object
language_code           object
Author_Rating           object
Book_average_rating    float64
Book_ratings_count       int64
genre                   object
gross sales            float64
publisher revenue      float64
sale price             float64
sales rank               int64
Publisher               object
units sold               int64
dtype: object

In [79]:
books_data_clean['genre'].value_counts()

genre
fiction        884
non fiction    171
children        15
Name: count, dtype: int64

In [80]:
# Unificar los valores 'fiction' y 'genrefiction' en 'fiction'
books_data_clean['genre'] = books_data_clean['genre'].replace({'genre fiction': 'fiction'})

In [81]:
books_data_clean['genre'] = books_data_clean['genre'].replace({'nonfiction': 'non fiction'})

In [82]:
books_data_clean['genre'].value_counts()

genre
fiction        884
non fiction    171
children        15
Name: count, dtype: int64

In [85]:
books_data_clean = books_data_clean.drop(columns=['Unnamed: 0'])

In [86]:
books_data_clean.head()

,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,1975,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000
1,1987,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250
2,2015,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500
3,2008,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500
4,2011,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750

In [91]:
books_data_clean.to_csv('books_data_limpio.csv')